.container {
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.erteuli {
  width: 500px;
  height: 50px;
  background-color: darkcyan;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mricxveli {
  width: 50px;
  height: 50px;
  background-color: rgb(0, 139, 49);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
